* {box-sizing: border-box}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ffffff;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.avatar {
	background-size: cover;
	width:40px;
	height:40px;
	border-radius: 50%;
	flex-shrink: 0;
    object-fit: cover;
	border: 1px solid rgba(10,10,10,.1);
}

.mvn-avatar {
	background-image:url(https://search.maven.org/assets/images/mvn.png);
}

.mvn-gradle {
	background-image:url(https://search.maven.org/assets/images/gradle.png);
}

.mvn-kotlin {
	background-image:url(https://search.maven.org/assets/images/kotlin.png);
}

.mvn-scala {
	background-image:url(https://search.maven.org/assets/images/sbt.svg);
}

.mvn-ivy {
	background-image:url(https://search.maven.org/assets/images/ivy.png);
}

.mvn-groovy {
	background-image:url(https://search.maven.org/assets/images/groovy.png);
}

.mvn-leiningen {
	background-image:url(https://search.maven.org/assets/images/leiningen.jpg);
}

.mvn-buildr {
	background-image:url(https://search.maven.org/assets/images/buildr.png);
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}