* {box-sizing: border-box}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
  opacity: 85%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ffffff;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.download-content {
	margin: 5px;
	width:460px;
	background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    flex: 1 1 auto;
    flex-direction: column;
    display: flex;
	background: #fff;
    color: rgba(0,0,0,.87);
	font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.avatar-content {
	width: 460px;
	border: 1px solid rgba(10,10,10,.1);
}

.avatar {
	background-size: cover;
	width:40px;
	height:40px;
	border-radius: 50%;
	flex-shrink: 0;
    object-fit: cover;
	float: left;
	border: 1px solid rgba(10,10,10,.1);
	margin-top:3%;
	margin-left:3%;
}

.avatar-header {
	width:160px;
	height:40px;
	text-align: center;
	margin: auto;
	border-bottom: 1px solid rgba(10,10,10,.1);
	margin-top:5%;
}

.avatar-clip {
	float: right;
	margin-right: 5%;
	cursor: pointer;
}

.command {
	width: 80%;
	font-family: monospace;
	font-size: 12px;
	overflow: hidden;
	margin: auto;
	text-align: left;
	overflow-x: auto;
}

.jar-avatar {	
	background-image:url(jar.png);
}

.mvn-avatar {	
	background-image:url(https://search.maven.org/assets/images/mvn.png);
}

.mvn-gradle {
	background-image:url(https://search.maven.org/assets/images/gradle.png);
}

.mvn-kotlin {
	background-image:url(https://search.maven.org/assets/images/kotlin.png);
}

.mvn-scala {
	background-image:url(https://search.maven.org/assets/images/sbt.svg);
}

.mvn-ivy {
	background-image:url(https://search.maven.org/assets/images/ivy.png);
}

.mvn-groovy {
	background-image:url(https://search.maven.org/assets/images/groovy.png);
}

.mvn-leiningen {
	background-image:url(https://search.maven.org/assets/images/leiningen.jpg);
}

.mvn-buildr {
	background-image:url(https://search.maven.org/assets/images/buildr.png);
}

.mvn-bazel {
	background-image:url(https://search.maven.org/assets/images/bazel.png);
}

div::-webkit-scrollbar {
  width: 20px;
  cursor:pointer;
}

/* Track */
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
div::-webkit-scrollbar-thumb {
  background: #87bdd8;
  border-radius: 10px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}